apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-deployment
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: ping-pong-log-output-pv
          persistentVolumeClaim:
            claimName: ping-pong-log-output-volume
      containers:
        - name: ping-pong
          image: villejuhan1/ping-pong:pv
          imagePullPolicy: Always
          ports:
            - containerPort: 8085
          volumeMounts:
            - name: ping-pong-log-output-pv
              mountPath: /shared
