grafana:
  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki.loki-stack.svc.cluster.local:3100
      isDefault: false
      jsonData:
        timeout: 60
