apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes: # Define volume
        - name: log-data
          emptyDir: {}
      containers:
        - name: logger
          image: villejuhan1/log-output:logger
          volumeMounts: # Mount volume
            - name: log-data
              mountPath: /shared
        - name: log-response
          image: villejuhan1/log-output:reader
          volumeMounts: # Mount volume
            - name: log-data
              mountPath: /shared
